body {
    text-align: center;
}

.playersprite {
	cursor: pointer;
}

.active {
    background-color: #00e6e6;
}

.playersprite:hover {
	background-color: #00e6e6;
}

.selected {
	background-color: #00e6e6;
}

.header{
    color: blue;
    font-weight: bold;
}

.gem{
    color:#66ffff;
}

.gemactive{
    color:blue;
}